.app__header{
    background-color: #fafafa;
    object-fit: contain;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.app {
    background-color: white;
}

.app__signup {
    display: flex;
    flex-direction: column;
}